PUBLIC_CLOUDINARY_CLOUD_NAME=
PUBLIC_CLOUDINARY_API_KEY=
PUBLIC_CLOUDINARY_UPLOAD_PRESET=
PUBLIC_CLOUDINARY_ENABLE_DELIVERY=false
PUBLIC_CLOUDINARY_BASE_FOLDER=hotel-du-soleil
CLOUDINARY_API_SECRET=
WEATHER_UNLOCKED_APP_ID=
WEATHER_UNLOCKED_APP_KEY=
WEATHER_UNLOCKED_RESORT_IDS=54886023,666007,54885701,54885773